@media screen and (orientation: portrait) {
    body{
        font-size: 3vw;
    }
    main{
        margin: 2.5vh;
    }
    .headImg{
        height: 30vh;
    }
    .blogTitle{
        top: 7.5vh;
    }
    .container{
        display: block;
    }
    .links{
        margin: 2.5vw;
    }
    .link{
        margin: 5vw 2.5vw 5vw 2.5vw;
        padding: 2.5vw;
        padding-top: 1vw;
    }
    .catImg{
        width: 85vw;
    }
}
@media screen and (orientation: landscape) {
    body{
        font-size: 1vw;
    }
    main{
        margin: 2.5vw;
    }
    .headImg{
        height: 35vh;
    }
    .blogTitle{
        top: 10vh;
    }
    .container{
        /* display: flex; */
    }
    .links{
        margin: 0 0 1.5vw 2.5vw;
        padding: 0;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    .link{
        flex-basis: 29.8vw;
        /* margin: 2.5vw; */
        margin-top: 2.5vw;
        margin-right: 2.5vw;
        padding: 1vh 0 2vh 0;
    }
    .catImg{
        width: 25vw;
    }
}

html, body{
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: blanchedalmond;
    text-align: center;
}

.headImg{
    margin: 0;
    object-fit: cover;
    width: 100vw;
}

.catImg{
    margin: 0;
    object-fit: cover;
}

.blogTitle{
    color: white;
    position: absolute;
    text-align: center;
}

.blogSubTitle{
    color: white;
    margin-top: 2vh;
    margin-bottom: 0;
}

main{
    padding: 5vh;
    background: azure;
}

.link{
    background: salmon;
}

.link:hover{
    background: springgreen;
}
.link:hover .catImg{
    animation: puyo linear 1s infinite;
}

.sentence{
    text-align: left;
}

.midashi{
    text-align: left;
    padding: 6px 0 6px 12px;
    border-left: solid 4px crimson;
    border-bottom: solid 2px gray;
}

@keyframes puyo{
    0%{transform: rotate(0deg)}
    20%{transform: rotate(-1deg)}
    40%{transform: rotate(1deg)}
    60%{transform: rotate(-1deg)}
    80%{transform: rotate(1deg)}
    100%{transform: rotate(0deg)}
}

footer{
    margin: 5vh;
}
